<footer>
    <section class="about">
        <h2>Sobre</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem quisquam sed minus beatae laboriosam eveniet aperiam praesentium quas dolorum? Fugit praesentium sequi perferendis? Cupiditate excepturi amet, aperiam sapiente provident eius?</p>
    </section>
    <address class="contact">
        <h2>Contato</h2>
        <ul>
            <li><a><i class="fa-solid fa-envelope"></i> email&#64;email.com</a></li>
            <li><a><i class="fa-solid fa-phone"></i> (00) 0000-0000</a></li>
            <li><a><i class="fa-brands fa-whatsapp"></i> (00) 0 0000-0000</a></li>
        </ul>
    </address>
</footer>
<section class="copyright">&copy; Todos os direitos reservados</section>